.container {
    display: flex;
    width: 800px;
    height: 700px;
    outline:2px solid rgb(76, 70, 70);
}

.Franja-horaria{
    display:flex;
    outline:1px solid rgb(59, 54, 54);
    flex-direction: column-reverse;

}

.Hora{
    box-sizing:border-box;
    height: 200px;
    outline:1px dashed rgb(59, 54, 54);
    padding: 20px 20px 20px;
}