.container{
    width: 600px;
    height: 400px;
    background-color: aqua;
    outline: solid black 2px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.item{
    width: 100px;
    /* height: 100px; */
    /* flex-grow: 1; */
    border: solid black 1px;
    /* padding-left: 30px;
    padding-top: 30px; */
    box-sizing: border-box;
}

.container .item:first-child{
    background-color: blue;
    color: beige;
    flex-grow: 1;
}

.container .item:last-child{
    background-color: rgb(0, 0, 0);
    color: beige;
    flex-grow: 1.4;
}

.container .item:nth-child(2){
    background-color: rgb(46, 44, 103);
    color: beige;
    flex-grow: 0.5;
}

.container .item:nth-child(3){
    background-color: rgb(34, 30, 86);
    color: beige;
    flex-grow: 0.7;
}
